<section class="my-catalog-section container">
  <div class="catalog-searchbar">
    <div class="search-section">
      <div class="search-form">
        <div class="search-input-container">
          <input
            class="input-text"
            type="text"
            name="query"
            autocomplete="off"
            placeholder="Search"
            required
          />
          <button class="x-button" type="reset">
            <img src="./img/x.svg" alt="delete" class="x-icon" />
          </button>
        </div>
        <select class="year-select">
          <option value="">Years</option>
          <option value="2024" class="year">2024</option>
          <option value="2023" class="year">2023</option>
          <option value="2022" class="year">2022</option>
          <option value="2021" class="year">2021</option>
          <option value="2020" class="year">2020</option>
          <option value="2019" class="year">2019</option>
          <option value="2018" class="year">2018</option>
          <option value="2017" class="year">2017</option>
          <option value="2016" class="year">2016</option>
          <option value="2015" class="year">2015</option>
        </select>
      </div>
    </div>
    <div class="button-section">
      <button class="catalog-button" type="submit">
        <img src="./img/search 3.svg" alt="search" class="search-icon" />
      </button>
    </div>
  </div>
  <ul class="catalog-movie-list"></ul>
  <div id="loader-catalog" class="loader"></div>
  <p class="catalog-sorry-message">
    OOPS... <br />
    We are very sorry! <br />
    We don't have any results matching your search.
  </p>
  <div class="pagination-container"></div>
</section>
