<section class="my-catalog-section container">
  <div class="catalog-searchbar">
    <div class="search-section">
      <div class="search-form">
        <div class="search-input-container">
          <input
            class="input-text"
            type="text"
            name="query"
            autocomplete="off"
            placeholder="Search"
            required
          />
          <button class="x-button" type="reset">
            <img src="./img/x.svg" alt="delete" class="x-icon" />
          </button>
        </div>
        <select class="year-select">
          <option class="select-option-default" value="">Year</option>
        </select>
      </div>
    </div>
    <div class="button-section">
      <button class="catalog-button" type="submit">
        <img src="./img/search 3.svg" alt="search" class="search-icon" />
      </button>
    </div>
  </div>
  <ul class="catalog-movie-list"></ul>
  <div id="loader-catalog" class="loader"></div>
  <p class="catalog-sorry-message">
    OOPS... <br />
    We are very sorry! <br />
    We don't have any results matching your search.
  </p>
  <div class="pagination-container"></div>
</section>
